/* Debug */

/* div {
    border: 1px solid black;
} */

/* End Debug */

:root{
    --basedark: #593E3E;
    --baselight: #E3DCDC;
    --basemid: #C9B1B1;
    --compldark: #4E5C52;
    --compllight: #8D9E92;
}

body {    
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--baselight);

}

h1 {
    color: var(--compldark);
}
  
div.container {
    margin: auto;
    width: 35%;
}
  
div.col{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 75px;
    margin-top: 10px;
}

div.row-chat {
    margin: 10px;
}

div.row-message {
    margin-bottom: 10px;    
}

div.col-message {
    padding: 10px;
    border: 1px solid var(--compldark);
    background-color: var(--basemid);
    border-radius: 6px;
}

div.author {
    font-size: smaller;
    padding-top: 5px;
    padding-left: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid var(--compldark);
}

button {
    padding: 8px 24px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid var(--compldark);
    background-color: var(--compllight);
}

button:hover {
    background-color: var(--compllight);
}
   
hr {
    margin: 20px 0;
    border: 1px dashed var(--compldark);
}

.text-danger {
    color: red;
    font-weight: bold;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    border: 1px solid var(--basedark);
}
  
.styled-table thead tr {
    text-align: left;
}
  
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
  
.styled-table tbody tr {
    border-top: 1px solid var(--basemid);
}
