{% extends "public_template.html" %}

{% block title %}Chat Box{% endblock %}

{% block main %}


<div class="container">
    <h1>Chat Box</h1>
    <hr>
    
    <div class="row-chat">
        <div class="col-chat">
            {% for message_item in chat_messages %}
            <div class="row-message">
                <div class="col-message">
                    <div class="message">
                        {{ message_item.message }}
                    </div>
                    <div class="author">
                        - {{ message_item.author }}
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    <div class="row">
        <div class="col">

            {% if messages %}
                <ul class="text-danger">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <form action="{% url 'chat_box' %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                <label>Message</label>
                <input type="text" class="form-control" id="message" name="message">
                </div> 

                <div class="form-group">
                <label>Author</label>
                <select class="form-control" id="author" name="author">
                    {% for user in all_users %}
                    <option value="{{ user.firstname }}">{{ user.firstname }}</option>
                    {% endfor %}
                </select>
                </div> 

                <button type="submit" class="btn btn-primary">Send</button>
            </form>  
        </div>
    </div>
</div>

{% endblock %}