{% extends "public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
      <div class="col">
          <h1>Member List</h1>
            <table class="styled-table">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Country</th>
                    </tr>
                </thead>    
                {% for user in all_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.secondname }}</td>
                        <td>{{ user.country }}</td>
                    </tr>
                {% endfor %} 
            </table>

            <form action="/add_user" method="get">
                <button type="submit">Add User</button>                
            </form>
            <form action="/chat_box" method="get">
                <button type="submit">View Chat Box</button>                
            </form>
        </div>
    </div>
  </div>

{% endblock %}